<div class="d-flex flex-wrap gap-2 mb-4">
    <a class="btn {% if 'warehouse' in request.resolver_match.url_name or request.resolver_match.url_name == 'dashboard_home' %}btn-primary{% else %}btn-secondary{% endif %}"
       href="{% url 'store:warehouse_dashboard' %}">
        Склад
    </a>
    <a class="btn {% if request.resolver_match.url_name == 'dashboard_orders' or 'dashboard_order' in request.resolver_match.url_name %}btn-primary{% else %}btn-secondary{% endif %}"
       href="{% url 'store:dashboard_orders' %}">
        Заказы
    </a>
</div>
