{% load static %}
<footer id="contacts" class="sf-footer">
    <div class="container">
        <div class="sf-footer-top">
            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="sf-footer-brand">
                        <div class="sf-footer-brand-mark">
                            <img src="{% static 'img/favicon.ico' %}" alt="Шинник">
                        </div>
                        <div>
                            <h5 class="sf-footer-title mb-1">ФК «Шинник»</h5>
                            <p class="sf-footer-text mb-0">
                                Официальный магазин клубной атрибутики, формы и аксессуаров для болельщиков.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-2">
                    <h6 class="sf-footer-heading">Покупателям</h6>
                    <ul class="sf-footer-links">
                        <li><a href="{% url 'store:product_list' %}">Каталог</a></li>
                        <li><a href="{% url 'store:cart' %}">Корзина</a></li>
                        <li><a href="{% url 'store:return_policy' %}">Возврат</a></li>
                        <li><a href="{% url 'store:offer' %}">Оферта</a></li>
                    </ul>
                </div>

                <div class="col-sm-6 col-lg-3">
                    <h6 class="sf-footer-heading">Документы</h6>
                    <ul class="sf-footer-links">
                        <li><a href="{% url 'store:privacy_policy' %}">Политика конфиденциальности</a></li>
                        <li><a href="{% url 'store:terms_of_service' %}">Пользовательское соглашение</a></li>
                        <li><a href="{% url 'store:return_policy' %}">Условия возврата</a></li>
                        <li><a href="{% url 'store:offer' %}">Договор оферты</a></li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h6 class="sf-footer-heading">Контакты</h6>
                    <ul class="sf-footer-contacts">
                        <li>Ярославль, Россия</li>
                        <li><a href="mailto:support@matchday-store.com">support@matchday-store.com</a></li>
                        <li>Официальная клубная атрибутика</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="sf-footer-bottom">
            <div class="sf-footer-bottom-row">
                <div>© {% now "Y" %} ФК «Шинник». Все права защищены.</div>
                <div class="sf-footer-bottom-note">Сделано в клубном стиле, а не в стиле “типового шаблона”.</div>
            </div>
        </div>
    </div>
</footer>